body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
}

.card {
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.contain {
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
    margin: auto;
    padding: 30px;
    background-color: #1d242e;
    border-radius: 15px;
}

.star {
    background-color: #232f3b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.star img {
    margin: 15px;
    margin-top: 17px;
    margin-left: 17px;
}

.numbers ul {
    text-align: center;
    padding-left: 0;
    margin-top: 30px;
}

.numbers li {
    display: inline-block;
    background-color: #262e38;
    font-size: 24px;
    color: #5e6776;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 8px;
    padding: 10px;
    
}